
.newCity {
    margin-top: 3px !important;
    border-width: 1px;
    border-color: lightgrey;
}

#low {
    background-color: green;
    color: white;
}

#med {
    background-color: orange;
    color: black;  
}

#high {
    background-color: red;
    color: black;
}

#v-high {
    background-color: black;
    color: white;
}